#overlayCart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
    overflow-y: scroll;
    z-index: 2;
  }
  
.cart-container {

    float: right;
    position: fixed;
    /* display: none; */
    width: 50%;
    /* height: 100%; */
    /* height: 100vh; */
    
    top: 8rem;
    margin-right: 0.4rem;
    right: 0;
    bottom: 0;

    background-color: rgb(246, 250, 250);
    z-index: 2;
    cursor: pointer;
    overflow-y: auto;
    
}

.modal-header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    vertical-align: center;
    margin-bottom: 1rem;
}

.modal-title {
    padding: 5px;
}

.cart__close-button {
    display: block;
    background: transparent;
    border: none;
    font-size: 3rem;
    padding: 0 0.5rem;
    color: #ffffff;
    cursor: pointer;
}
.modal-title {
    color: white;
}

.modal-body {
    display: grid;
    grid-template-rows: auto;
    padding: 0;
    background-color: rgb(246, 250, 250);
    gap: 0.5rem;
    /* height: 100%; */
    /* overflow: scroll; */
}

.modal-body-empty {
    margin-top: -1rem;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    height: 25rem;
    grid-template-rows: auto;
    background-color: white;
    /* height: auto; */
}

.modal-body-item {
    display: grid;
    gap: 0.625rem;
    /* height: 7.5rem; */
    padding: 0.9rem;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: white;
}

.modal-body-item-image {
    width: 100px;
    height: 100px;
}

.cart__cart-item-quantity-box {
    display: flex;
    align-items: center;
}

.cart__cart-item-quantity-box > i {
    margin: 6px;
    color: var(--pink);
}

.cart__cart-item-text {
    font-weight: 600;
}

.cart__cart-item-total-amount {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    font-weight: 600;
}

.modal-body-no-item {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-content: center;
}

.cart__lowest-offer {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
}

.cart__lowest-offer > span {
    margin-left: 0.9rem;
}

.cart__close-icon {
    color: white;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
}

.cart__cart-item-action-button {
    position: relative;
    text-align: center;
    vertical-align: center;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.625rem;
    border-radius: 50%;
    outline: none;
  }

  button:focus {outline:0;}
  
  .cart-icon-black {
    margin-bottom: 0.38rem;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: black;
  }
  .cart-icon {
    bottom: 0.15rem;
    position: relative;
    line-height: 0.75rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
    border: none;
    outline: none;
  }

.modal-footer {
    display: grid;
    grid-gap: 0.625rem;
    align-content: flex-end;
    justify-content: stretch;
    align-items: flex-end;
    grid-template-rows: auto;
    background-color: white;
    border: none;
}

.modal-footer > span {
    display: flex;
    justify-content: center;
    align-content: center;
}

.cart__btn-checkout {
    height: 3rem;
    display: flex;
    justify-content: space-between
}

.cart__btn-checkout-mesage {
    display: flex;
}

.cart__btn-checkout-amount {
    display: flex;
}

.cart__btn-start-shopping {
    height: 3rem;
    display: flex;
    justify-content: space-evenly
}

@media screen and (max-width: 800px) {
    .cart-container {

        position: fixed;
        /* display: none; */
        width: 100%;
        /* height: 100%; */
        
        top: 8rem;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgb(246, 250, 250);
        z-index: 999;
        cursor: pointer;
        overflow-y: scroll;
    }
    #overlayCart {
        position: fixed;
        top: 8rem;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
        overflow-y: scroll;
        z-index: 2;
      }

    .cart__cart-item-action-button {
        text-align: center;
        vertical-align: center;
        border: none;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0.625rem;
        border-radius: 25%;
      }

      .modal-header {
          margin-top: 2rem;
          background-color: white;
      }
      .modal-title {
          color: black;
      }
      .cart__close-button {
          display: none;
      }

}

@media screen and (max-width: 600px) {
    .cart-container {

        position: fixed;
        /* display: none; */
        width: 100%;
        /* height: 100%; */
        
        top: 7rem;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgb(246, 250, 250);
        z-index: 999;
        cursor: pointer;
        overflow-y: scroll;
    }

    #overlayCart {
        position: fixed;
        top: 7rem;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        display: none;
        overflow-y: scroll;
        z-index: 2;
      }
}