.slider-control-bottomcenter {
    bottom: 4.5rem;
}

@media screen and (max-width: 600px) {
    .slider-control-centerleft {
        display: none;
    }
    .slider-control-centerright {
        display: none;
    }
    .slider-control-bottomcenter {
        bottom: -4.5rem !important;
    }
}