.slider-control-bottomcenter {
    bottom: -80px !important;
}

@media screen and (max-width: 600px) {
    .slider-control-centerleft {
        display: none;
    }
    .slider-control-centerright {
        display: none;
    }
}