.app-header {
    display: grid;
    min-height: 80px;
    grid-auto-flow: column;
    /* padding: 10px; */
    /* gap: 20px; */
    z-index: 1;
    box-shadow: 0px 5px 5px -4px #aaaaaa;
    padding-bottom: 0px;
  }

  .app-header__header-brand {
    display: grid;
    /* gap: 10px; */
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
  }

  .app-header__header-basket{
    display: grid;
    gap: 2px;
    justify-content: end;
    align-content: end;
  }

  .app-header__header-app-links {
    display: grid;
    font-size: 24px;
    grid-auto-flow: column;
    justify-content: end;
    /* gap: 10px; */
    text-decoration: none;
    margin-left: 0px;
  }

  .app-header__header-app-links:hover {
    text-decoration: none;
  }

  .app-header__header-links:hover {
    text-decoration: none;
  }

  .app-header__header-basket-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
  }

  .app-header__reg-links {
    text-decoration: none;
  }

  .app-header__reg-links:hover {
    text-decoration: none;
  }

  .app-header__header-links {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
  }

  .app-header__header-basket > button img {
    height: 60px;
    width: 60px;
  }

  .app-header__cart {
    border: none;
    background-color: var(--background-color);
  }

  .app-header__header-brand a > img {
    height: 150px;
    width: 280px;
  }

  @media screen and (max-width: 600px) {
    .app-header__header-brand a > img {
      height: 80px;
      width: 120px;
    }
    .app-header__header-app-links {
        display: block;
        font-size: 16px;
        margin-top: 15px;
    }
    .app-header__header-basket > button img {
      height: 40px;
      width: 40px;
    }
  }