

.app-header {
    display: grid;
    grid-auto-flow: column;
    z-index: 2;
    box-shadow: 0 .2rem .2rem #efefef;
    padding-bottom: 0rem;
  }

  .app-header__header-brand {
    display: grid;
    padding: 0.625rem;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
  }

  .app-header__header-basket{
    display: grid;
    gap: 0.125rem;
    justify-content: end;
    align-content: end;
    margin-right: 0.400rem;
  }

  .app-header__header-app-links {
    display: grid;
    font-size: 1.25rem;
    grid-auto-flow: column;
    justify-content: end;
    text-decoration: none;
    margin-left: 6.25rem;
    margin-bottom: 1rem;
  }

  .app-header__header-app-links:hover {
    text-decoration: none;
  }

  .app-header__header-links:hover {
    text-decoration: none;
  }

  .app-header__header-basket-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 0.625rem;
    padding-bottom: 0.625rem;
    margin-bottom: 0.625rem;
  }

  .app-header__reg-links {
    text-decoration: none;
  }

  .app-header__reg-links:hover {
    text-decoration: none;
  }

  .app-header__header-links {
    display: flex;
    margin-left: 1.25rem;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
  }

  .app-header__header-basket > button img {
    height: 3rem;
    width: 3rem;
    color: crimson;
  }

  .app-header__cart {
    height: 5rem;
    width: 10rem;
    border: none;
    background-color: var(--background-color);
  }

  .app-header__header-brand a > img {
    height: 6rem;
    width: 14rem;
  }

  @media screen and (max-width: 780px) {
    .app-header__header-app-links {
      margin-left: 4rem;
  }
  }

  @media screen and (max-width: 600px) {
    .app-header__header-basket-links {
      padding-bottom: 0rem;
      margin-bottom: 0rem;
    }
    .app-header__header-brand a > img {
      height: 5rem;
      width: 7.5rem;
    }
    .app-header__header-app-links {
        display: block;
        font-size: 1.25rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }
    .app-header__cart {
      height: 4rem;
      width: 8rem;
      border: none;
    }
    .app-header__header-basket > button img {
      height: 2.5rem;
      width: 2.5rem;
    }
  }