.app-header {
    display: grid;
    min-height: 80px;
    grid-auto-flow: column;
    padding: 10px;
    gap: 20px;
    z-index: 1;
    box-shadow: 0px 5px 5px -4px #aaaaaa;

  }

  .header-brand {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
  }

  .header-basket{
    display: grid;
    gap: 2px;
    justify-content: end;
    align-content: center;
  }

  .header-app-links {
    display: grid;
    font-size: 24px;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
    text-decoration: none;
  }

  .header-app-links:hover {
    text-decoration: none;
  }

  .header-links:hover {
    text-decoration: none;
  }

  .header-basket-links {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 10px;
  }

  .reg-links {
    text-decoration: none;
  }

  .reg-links:hover {
    text-decoration: none;
  }

  .header-links {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
  }

  .header-basket > span img {
    height: 60px;
    width: 60px;
  }

  .cart {
    padding-bottom: -20px;
    margin-bottom: -20px;
    background-color: var(--background-color);
  }

  @media screen and (max-width: 600px) {
    .header-brand a > img {
      height: 100px;
      width: 150px;
    }
    .header-app-links {
        display: none;
    }
  }