.product-list__list { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }

  .product-list__list > article {
    border-bottom: 1px dotted #ccc;
    box-shadow: 8px 3px 11px -7px #aaaaaa;
  }
  .product-list__list > article img {
    max-width: 100%;
  }
  .product-list__product-item {
    display: flex;
    flex-direction: row;
  }
  .product-item__item-name {
    height: 90px;
  }
  .product-item__wrapper {
    padding: 0 20px 20px;
  }
  .product-item__buy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .product-item__item-text-block {
    display: block;
    /* height: 400px; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: var(--background-color);
    font-family: "Dosis", "Arial";
    font-weight: 400;
    font-size: 16px;
  }

    .list-item-text {
      font-family: "Dosis", "Arial";
      font-weight: 400;
      font-size: 16px;
  }

   /* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-item__item-text-block {
    height: 380px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}  */

  @media screen and (min-width: 1024px) {
    .product-list__list { 
      display: grid;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      grid-gap: 20px;
      align-items: stretch;
      }
  }

  @media screen and (max-width: 320px) {
    .product-item__item-text-block {
      height: 180px;
    }
  }

  @media screen and (min-width: 425px) {
    .product-item__item-text-block {
      height: 340px;
    }
  }

  @media screen and (min-width: 768px) {
    .product-item__item-text-block {
      height: 210px;
    }
  }

  @media screen and (min-width: 1024px) {
    .product-item__item-text-block {
      height: 350px;
    }
  }

  @media screen and (min-width: 1440px) {
    .product-item__item-text-block {
      height: 230px;
    }
  }

  @media screen and (min-width: 2560px) {
    .product-item__item-text-block {
      height: 120px;
    }
  }
