
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "nav"
      "content";
  }

  @media screen and (max-width: 600px) {
    #main-nav {
        display: none;
    }
    #main-head {
        display: block;
    }
    .wrapper {
        grid-template-columns: 5fr;
        grid-template-areas: 
          "header  header"
          "content  content"
      }
  }

  @media only screen and (min-width: 600px)  {
      #main-nav {
          display: block;
      }
      #main-head {
          display: none;
      }
    .wrapper {
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 
          "header header"
          "nav    content"
       }
       aside span {
           display: flex;
           flex-direction: column;
       }
  }