.login-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.login-info {
    display: grid;
    justify-items: right;
}

.login-form {
    align-items: flex-start;
    justify-items: left;
}

.login-text {
 display: grid;
 justify-items: left;
}

.login-button {
    background-color: red;
    color: black
}