.login-info {
    grid-area: login-info;
       /* display: grid;
       grid-template-rows: auto;
       justify-content: center; */
}

.login-form-container {
    grid-area: login-form-container;
    /* display: grid;
    grid-template-columns: auto auto; */
}

.login-container {
    display: grid;
    padding: 10px;
    justify-content: center;
    grid-template-areas: 
    "login-info login-form-container";
    gap: 20px;
}

.login-button {
    background-color: red;
    color: black
}

.login-form {
    display: grid;
    gap: 10px;
    justify-content: stretch;
    grid-template-rows: auto;
}