.app-header {
    display: grid;
    min-height: 80px;
    grid-auto-flow: column;
    padding: 10px;
    gap: 20px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    1px 1px 1px 1px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         1px 1px 1px 1px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  }

  .header-brand{
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-content: start;
    align-content: center;
  }

  .header-basket{
    display: grid;
    gap: 2px;
    justify-content: end;
    align-content: center;
  }

  .header-links {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
  }