.list { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    }
  .list > article {
    border-bottom: 1px dotted #ccc;
    /* box-shadow: 2px 0px 0px 0px #888888; */
    box-shadow: 8px 3px 11px -7px #aaaaaa;
  }
  .list > article img {
    max-width: 100%;
  }
  .product-item {
    display: flex;
    flex-direction: row;
  }
  .item-name {
    height: 90px;
  }
  .text {
    padding: 0 20px 20px;
  }
  .buy-area {
    display: flex;
    flex-direction: row;
    margin-left: -45px;
    margin-right: -45px;
    justify-content: space-evenly;
    align-items: center;
  }
  .item-text-block {
    display: block;
    height: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--background-color)
  }

    .item-text {
      font-family: "Dosis", "Arial";
      font-weight: 400;
      font-size: 16px;
      
  }