.main-head {
    background-color: rgb(211, 97, 116);
    padding: 10px;
    grid-area: header;
  }

  .menu-mobile-brand {
      display: grid;
      grid-template-columns: auto auto;  /* grid has two columns; content defines width */
      justify-content: space-between;    /* horizontal alignment of grid tracks */
      align-content: space-between;      /* vertical alignment of grid tracks */
  }
  .content {
    grid-area: content;
  }
  .main-nav {
    background-color: var(--background-color);
    grid-area: nav;
  }

  .main-nav span {
    border-bottom: 1px solid black;
  }

  .main-nav-links {
    padding: 10px;
  }

  .main-nav-links:hover {
    text-decoration: none;
  }