.corousel-justifier {
  padding: 1.25rem;
  box-shadow: 0rem 2.5rem 3.5rem -4.5rem #000000;
}
.home {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    margin: 10px;
    justify-content: center;
    gap: 10px;
}

.home__category {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin: 0.625rem;
  padding: 0.625rem;
  box-shadow: 0rem 2.5rem 3.5rem -4.5rem #000000;
}

.category__image {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
}

.category__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category__description-wrapper > p {
  text-align: center;
}

  .home > article img {
    width: 300px;
    height: 250px;
  }

  @media screen and (max-width: 600px) {
    .home > article img {
      width: 170px;
      height: 140px;
      margin: 10px;
    }
    .home__category {
      margin: 10px;
    }
    .category__description-wrapper {
      margin: 10px;
      padding: 5px;
      font-family: "Dosis", "Arial";
      font-weight: 500;
      font-size: 14px;
    }
    .category__description-wrapper p {
      margin: 10px;
    }
  }

  @media screen and (max-width: 450px) {
    .home > article img {
      width: 110px;
      height: 100px;
    }
    .home__category {
      margin: 10px;
    }
    .category__description-wrapper {
      font-family: "Dosis", "Arial";
      font-weight: 500;
      font-size: 12px;
      text-align: center;
    }
    .category__description-wrapper p {
      margin: 10px;
    }
  }
