.login-info {
    margin-top: 40px;
    grid-area: login-info;
}

.login-info-mob {
    display: none;
}

.login-form-container {
    grid-area: login-form-container;
}

.login-container {
    display: grid;
    padding: 20px;
    /* margin: 20px; */
    justify-content: center;
    grid-template-areas: 
    "login-info login-form-container";
    gap: 20px;
}

.login-error {
    color: red;
    font-family: "Dosis", "Arial";
    font-weight: 500;
    font-size: 14px;
}

.login-button {
    background-color: var(--pink);
    width: 200px;
    color: black
}

.login-form {
    display: grid;
    gap: 20px;
    justify-content: stretch;
    grid-template-rows: auto;
}

.sign-form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: unset;
    border: none;
    border-bottom: 1px solid grey;
  }

  @media screen and (max-width: 600px) {
    .login-info {
        display: none;
    }
    .login-info-mob {
        display: block;
    }
    /* .login-container {
        display: grid;
        padding: 20px;
        justify-content: center;
        grid-template-areas: 
        "login-info login-info"
        "login-form-container login-form-container";
        gap: 20px;
    } */
  }