.login-info {
    margin-top: 40px;
    grid-area: login-info;
}

.login-form-container {
    grid-area: login-form-container;
}

.login-container {
    display: grid;
    padding: 10px;
    justify-content: center;
    grid-template-areas: 
    "login-info login-form-container";
    gap: 20px;
}

.register-form {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: stretch;
    align-items: stretch;
    grid-template-rows: auto;
}

.register-error {
    color: red;
    font-family: "Dosis", "Arial";
    font-weight: 500;
    font-size: 14px;
}

.sign-form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: unset;
    border: none;
    border-bottom: 1px solid grey;
  }