body {
  font-family: "Dosis", "Arial";
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-family: "Dosis", "Arial";
  font-weight: 600;
  font-size: 18px;
}